---
import About from "@components/about.astro";
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Cta from "@components/cta.astro";
import Contact from "@components/contact.astro";
import { Picture } from "@astrojs/image/components";
---

<div>
  <img src="/images/1-navbar.png" alt="navbar" class="w-full" />
  <img src="/images/2-hero.png" alt="navbar" class="w-full" />
  <img src="/images/3-businesses.png" alt="navbar" class="w-full" />
  <img src="/images/4-vision-mission.png" alt="navbar" class="w-full" />
  <img src="/images/5-products.png" alt="navbar" class="w-full" />
  <img src="/images/6-executives.png" alt="navbar" class="w-full" />
  <img src="/images/7-contact-us.png" alt="navbar" class="w-full" />
  <img src="/images/8-footer.png" alt="navbar" class="w-full" />
</div>
